.login-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
}

.login-btn {
  margin-left: 5px;
}

.nav-section{
  display: flex;
  justify-content: center;
}

.menu-list{
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

.menu-area{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  border: none;
}

.card-container {
  border:1px solid;
}

.login-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.style-margin {
  margin: 20px 0;
}